* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  color: black;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F29191;
  height: 100vh;
}

.password-generator {
  padding: 40px;
  background-color: #EEC4C4;
  color: white;
  font-size: 20px;
  font-family: sans-serif;
  border-radius: 25px;
}

.password-generator div {
  display: flex;
  justify-content: space-between;
  margin: 10px 10px 10px 10px;
}

.password {
  min-width: 280px;
  color: rgb(199, 199, 199);
  border-radius: 25px;
  background-color: #F29191;
}

.password p {
  padding: 6px 10px;
}

.password i {
  background-color: #F29191;
  padding: 6px 10px;
  border-radius: 25px;
}


.password i:hover {
  background-color: #D1D9D9;
  cursor: pointer;
}
.password-generator button {
  width: 100%;
  border: none;
  color: #F29191;
  background-color: #D1D9D9;
  padding: 10px;
  border-radius: 25px;
}

button:hover{
  background-color: #F29191;
  color: black;
  cursor: pointer;
}

label,
input:hover {
  cursor: pointer;
}